@using MarketPlaceEshop.DataAccessLayer.Entities.SiteAPI
@using MarketPlaceEshop.DataAccessLayer.Entities.Account
@using MarketPlaceEshop.Application.Extentions
@{
    var siteSetting = ViewBag.siteSetting as SiteSetting;
    var user = ViewBag.user as User;
}

<div class="off_canvars_overlay"></div>
<div class="Offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="Offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="antomi_message">
                        <p>ارسال رایگان - ضمانت بازگشت وجه 30 روزه</p>
                    </div>
                    <div class="header_top_settings text-right">
                        <ul>
                            @if (!User.Identity.IsAuthenticated)
                            {
                                <li><a asp-controller="Account" asp-action="Login">ورود به حساب کاربری</a></li>
                                <li><a asp-controller="Account" asp-action="Register">ثبت نام</a></li>
                                <li><a asp-controller="" asp-action="">درخواست فروشگاه</a></li>
                            }
                            else
                            {
                                <li><a asp-area="userpanel" asp-controller="Home" asp-action="Dashboard">کاربرجاری : <b style="font-weight:600">@user.GetUserShowName() | </b> , خوش آمدید</a></li>
                                <li><a asp-controller="Account" asp-action="LogOut">خروج</a></li>
                                <li><a asp-controller="" asp-action="">درخواست فروشگاه</a></li>
                            }
                            <li>پشتیبانی: <a class="ltr-text"> @siteSetting.Phone</a></li>
                            <li>پیگیری سفارشات</li>
                        </ul>
                    </div>
                    <div class="header_configure_area">

                        <div class="mini_cart_wrapper">
                            <a href="javascript:void(0)">
                                <i class="fa fa-shopping-bag"></i>
                                <span class="cart_price"><span> 600,000 ریال </span> <i class="ion-ios-arrow-down"></i></span>
                                <span class="cart_count">1</span>

                            </a>
                            <!--mini cart-->
                            <div class="mini_cart">
                                <div class="mini_cart_inner">
                                    <div class="cart_item">
                                        <div class="cart_img">
                                            <a href="#"><img src="assets/img/s-product/product.jpg" alt=""></a>
                                        </div>
                                        <div class="cart_info">
                                            <a href="#">نگرشی کاربردی به دیات</a>
                                            <p>تعداد: 1 × <span> 600,000 ریال </span></p>
                                        </div>
                                        <div class="cart_remove">
                                            <a href="#"><i class="ion-android-close"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="mini_cart_table">
                                    <div class="cart_total">
                                        <span>جمع اجزا:</span>
                                        <span class="price"> 600,000 ریال </span>
                                    </div>
                                    <div class="cart_total mt-10">
                                        <span>جمع کل:</span>
                                        <span class="price"> 600,000 ریال </span>
                                    </div>
                                </div>
                                <div class="mini_cart_footer">
                                    <div class="cart_button">
                                        <a href="cart.html">مشاهده سبد</a>
                                    </div>
                                    <div class="cart_button">
                                        <a href="checkout.html">پرداخت</a>
                                    </div>

                                </div>
                            </div>
                            <!--mini cart end-->
                        </div>
                    </div>
                    <div class="search_container">
                        <form action="#">
                            <div class="hover_category">
                                <select class="select_option" name="select" id="categori1">
                                    <option selected value="1">همه دسته ها</option>
                                    <option value="2">لوازم جانبی</option>
                                    <option value="3">سایر لوازم جانبی</option>
                                    <option value="4">لوازم کامپیوتر</option>
                                    <option value="5">دوربین و ویدیو </option>
                                    <option value="6">صفحه نمایش</option>
                                    <option value="7">تبلت ها</option>
                                    <option value="8">لپ تاپ ها</option>
                                    <option value="9">کیف دستی</option>
                                    <option value="10">هدفون و اسپیکر</option>
                                    <option value="11">گیاهان دارویی</option>
                                    <option value="12">سبزیجات</option>
                                    <option value="13">فروشگاه</option>
                                    <option value="14">لپ تاپ و کامپیوتر</option>
                                    <option value="15">ساعت ها</option>
                                    <option value="16">لوازم الکترونیکی</option>
                                </select>
                            </div>
                            <div class="search_box">
                                <input placeholder="جستجوی محصول ..." type="text">
                                <button type="submit">جستجو</button>
                            </div>
                        </form>
                    </div>
                    <div id="menu" class="text-left ">
                        <ul class="offcanvas_main_menu">
                            <li class="menu-item-has-children active">
                                <a href="#">خانه</a>
                                <ul class="sub-menu">
                                    <li><a href="index.html">خانه 1</a></li>
                                    <li><a href="index-2.html">خانه 2</a></li>
                                    <li><a href="index-3.html">خانه 3</a></li>
                                    <li><a href="index-4.html">خانه 4</a></li>
                                    <li><a href="index-5.html">خانه 5</a></li>
                                    <li><a href="index-6.html">خانه 6</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">فروشگاه</a>
                                <ul class="sub-menu">
                                    <li class="menu-item-has-children">
                                        <a href="#">طرح های فروشگاه</a>
                                        <ul class="sub-menu">
                                            <li><a href="shop.html">فروشگاه</a></li>
                                            <li><a href="shop-fullwidth.html">تمام عرض</a></li>
                                            <li><a href="shop-fullwidth-list.html">تمام عرض لیست</a></li>
                                            <li><a href="shop-left-sidebar.html">نوار کناری چپ </a></li>
                                            <li><a href="shop-left-sidebar-list.html"> نوار کناری چپ لیست</a></li>
                                            <li><a href="shop-list.html">نمایش لیست</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">سایر صفحات</a>
                                        <ul class="sub-menu">
                                            <li><a href="cart.html">سبد خرید</a></li>
                                            <li><a href="wishlist.html">لیست علاقه‌مندی‌ها</a></li>
                                            <li><a href="checkout.html">پرداخت</a></li>
                                            <li><a href="my-account.html">حساب کاربری</a></li>
                                            <li><a href="404.html">خطای 404</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children">
                                        <a href="#">انواع محصول</a>
                                        <ul class="sub-menu">
                                            <li><a href="product-details.html">جزئیات محصول</a></li>
                                            <li><a href="product-sidebar.html">محصول با نوار کناری</a></li>
                                            <li><a href="product-grouped.html">محصول گروهبندی شده</a></li>
                                            <li><a href="variable-product.html">محصول متغیر</a></li>
                                            <li><a href="product-countdown.html">محصول شمارنده</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">بلاگ</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">بلاگ</a></li>
                                    <li><a href="blog-details.html">جزئیات مطلب بلاگ</a></li>
                                    <li><a href="blog-fullwidth.html">بلاگ تمام عرض</a></li>
                                    <li><a href="blog-right-sidebar.html">نوار کناری راست</a></li>
                                    <li><a href="blog-no-sidebar.html">بلاگ بدون نوار کناری</a></li>
                                </ul>

                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">صفحات </a>
                                <ul class="sub-menu">
                                    <li><a href="about.html">درباره ما</a></li>
                                    <li><a href="faq.html">سوالات متداول</a></li>
                                    <li><a href="privacy-policy.html">سیاست حریم خصوصی</a></li>
                                    <li><a href="contact.html">تماس</a></li>
                                    <li><a href="login.html">ورود</a></li>
                                    <li><a href="404.html">خطای 404</a></li>
                                    <li><a href="compare.html">مقایسه</a></li>
                                    <li><a href="coming-soon.html">به زودی</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="#">حساب کاربری</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="about.html">درباره ما</a>
                            </li>
                            <li class="menu-item-has-children">
                                <a asp-controller="Contact" asp-action="ContactUs"> تماس با ما</a>
                            </li>
                        </ul>
                    </div>
                    <div class="Offcanvas_footer">
                        <span><a href="#"><i class="fa fa-envelope-o"></i> info@yourdomain.com</a></span>
                        <ul>
                            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li class="pinterest"><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>