<li class="menu_item_children">
    <a href="#">حقوق <i class="fa fa-angle-left"></i></a>
    <ul class="categories_mega_menu column_2">
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">موضوعی</a>
            <ul class="categorie_sub_menu">
                <li><a href="">چتردانش</a></li>
                <li><a href="">میزان</a></li>
                <li><a href="">مَجد</a></li>
                <li><a href="">قوه قضائیه</a></li>
                <li><a href="">چراغ دانش</a></li>
                <li><a href="">آرایاداد</a></li>
                <li><a href="">روزنامه رسمی</a></li>
                <li><a href="">مکتوب آخر</a></li>
                <li><a href="">دادآفرین</a></li>
                <li><a href="">آوا</a></li>
                <li><a href="">ارشد</a></li>
                <li><a href="">دیدآور</a></li>
            </ul>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">کاربردی</a>
            <ul class="categorie_sub_menu">
                <li><a href="">وکلا</a></li>
                <li><a href="">دانشجویان</a></li>
                <li><a href="">آزمونی</a></li>
                <li><a href="">اختبار</a></li>
                <li><a href="">قوانین</a></li>
            </ul>
        </li>
    </ul>
</li>
<li class="menu_item_children">
    <a href="#"> کمک آموزشی <i class="fa fa-angle-left"></i></a>
    <ul class="categories_mega_menu column_4">
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">پیش دبستانی</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">متوسطه اول</a>
            <ul class="categorie_sub_menu">
                <li><a href="">اول ابتدایی</a></li>
                <li><a href="">دوم ابتدایی</a></li>
                <li><a href="">سوم ابتدایی</a></li>
                <li><a href="">چهارم ابتدایی</a></li>
                <li><a href="">پنجم ابتدایی</a></li>
                <li><a href="">ششم ابتدایی</a></li>
            </ul>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">متوسطه دوم</a>
            <ul class="categorie_sub_menu">
                <li><a href="">هفتم</a></li>
                <li><a href="">هشتم</a></li>
                <li><a href="">نهم</a></li>
            </ul>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">کنکوری</a>
            <ul class="categorie_sub_menu">
                <li><a href="">تجربی</a></li>
                <li><a href="">انسانی</a></li>
                <li><a href="">ریاضی</a></li>
                <li><a href="">هنر</a></li>
            </ul>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" background-color: #5a8dee; color: #ffffff; border-radius: 5px; padding: 4px; padding-left: 8px; padding-right: 8px;">زیر مجموعه تجربی</a>
            <ul class="categorie_sub_menu">
                <li><a href="">گاج</a></li>
                <li><a href="">خیلی سبز</a></li>
                <li><a href="">مبتکران</a></li>
                <li><a href="">کلاغ سفید</a></li>
                <li><a href="">الگو</a></li>
                <li><a href="">مهر و ماه</a></li>
                <li><a href="">مشاوران</a></li>
            </ul>
        </li>
    </ul>
</li>
<li class="menu_item_children">
    <a href="#"> زبان </a>
</li>
<li class="menu_item_children">
    <a href="#"> بازی های فکری <i class="fa fa-angle-left"></i></a>
    <ul class="categories_mega_menu column_4">
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">یکساله</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">تا سه ساله</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">تا شش ساله</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">بزرگسال</a>
        </li>
    </ul>
</li>
<li class="menu_item_children">
    <a href="#"> لوازم التحریر <i class="fa fa-angle-left"></i></a>
    <ul class="categories_mega_menu column_4">
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">خودکار</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">روانویس</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">دفتر</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">جامدادی</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">مداد</a>
        </li>
    </ul>
</li>
<li class="menu_item_children">
    <a href="#"> کتاب های عمومی <i class="fa fa-angle-left"></i></a>
    <ul class="categories_mega_menu column_4">
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">رمان</a>
            <ul class="categorie_sub_menu">
                <li><a href="">کودک</a></li>
                <li><a href="">نوجوان</a></li>
                <li><a href="">بزرگسال</a></li>
            </ul>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">روانشناسی</a>
            <ul class="categorie_sub_menu">
                <li><a href="">انگیزشی</a></li>
                <li><a href="">عرفانی</a></li>
            </ul>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">ادبیات</a>
            <ul class="categorie_sub_menu">
                <li><a href="">نفیس</a></li>
                <li><a href="">معمولی</a></li>
            </ul>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">تاریخی</a>
        </li>
    </ul>
</li>
<li class="menu_item_children">
    <a href="#"> دانشگاهی <i class="fa fa-angle-left"></i></a>
    <ul class="categories_mega_menu column_3">
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">روانشناسی</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">مشاوره</a>
        </li>
        <li class="menu_item_children">
            <a href="#" style=" font-weight: 600; background-color: #f5f8fd; color: #222222; border-radius: 5px; padding: 4px; padding-left: 0px; padding-right: 12px;">عمومی دانشگاهی</a>
        </li>
    </ul>
</li>
<li id="cat_toggle" class="has-sub">
    <a href="#"> دسته های بیشتر</a>
    <ul class="categorie_sub">
        <li><a href="#">دسته های پنهان</a></li>
    </ul>

</li>