@using MarketPlaceEshop.DataAccessLayer.Entities.Account
@using MarketPlaceEshop.Application.Extentions
@inject MarketPlaceEshop.Common.BaseClasses.ConvertDate convertDate
@{
    var user = ViewBag.user as User;
}

<div class="page-header-inner ">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
        <a href="index.html">
            <img src="~/Dashboard/assets/images/Logo-Admin-md.png" alt="logo" class="logo-default" />
        </a>
        <div class="menu-toggler sidebar-toggler">
            <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
        </div>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
    <!-- END RESPONSIVE MENU TOGGLER -->
    <!-- BEGIN PAGE ACTIONS -->
    <!-- DOC: Remove "hide" class to enable the page header actions -->
    <div class="page-actions">
        <div class="btn-group">
            <button type="button" class="btn green-steel btn-sm dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                <span class="hidden-sm hidden-xs">دسترسی سریع کاربر &nbsp;</span>
                <i class="fa fa-angle-down"></i>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/UserPanel/EditProfile">
                        <i class="fa fa-user"></i> پروفایل من
                    </a>
                </li>
                <li>
                    <a href="/UserPanel/AddTicket">
                        <i class="fa fa-send"></i> ارسال تیکت جدید
                    </a>
                </li>
                <li>
                    <a href="/UserPanel/DashboardChangePassword">
                        <i class="fa fa-lock"></i> تغییر رمز عبور
                    </a>
                </li>
                <li>
                    <a href="/">
                        <i class="fa fa-globe"></i> بازگشت به وب سایت
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END PAGE ACTIONS -->
    <!-- BEGIN PAGE TOP -->
    <div class="page-top">

        <!-- BEGIN TOP NAVIGATION MENU -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="separator hide"> </li>
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark">
                    <p class="dropdown-toggle" data-close-others="true">
                        <i class="icon-calendar"></i>
                        <span style="color: #737A99; font-weight:600"> امروز ، @convertDate.ConvertMiladiToShamsi(DateTime.Now, "dddd d MMMM yyyy") </span>
                    </p>
                </li>
                <li class="separator hide"> </li>
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark">
                    <a href="/" class="dropdown-toggle" data-close-others="true">
                        <i class="icon-globe"></i>
                        <span style="color: #737A99; font-weight:600"> بازگشت به وب سایت </span>
                    </a>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <!-- BEGIN NOTIFICATION DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="icon-bell"></i>
                        <span class="badge badge-success"> 1 </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3>
                                <span class="bold">0 مورد</span> اطلاع رسانی
                            </h3>
                            <a href="page_user_profile_1.html">نمایش همه</a>
                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroller" style="height: 250px;" data-handle-color="#637283">
                                <li>
                                    <a href="javascript:;">
                                        <span class="time">هم اکنون</span>
                                        <span class="details">
                                            <span>درخواست فعال سازی فروشگاه.</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <!-- END NOTIFICATION DROPDOWN -->
                <li class="separator hide"> </li>
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                <li class="dropdown dropdown-user dropdown-dark">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <span class="username username-hide-on-mobile"> کاربرجاری : @user.GetUserShowName() </span>
                        <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                        <img alt="" class="img-circle" src="~/Dashboard/assets/images/users/adminAvatar.png" />
                    </a>
                    <ul class="dropdown-menu dropdown-menu-default">
                        <li>
                            <a href="/UserPanel/EditProfile">
                                <i class="icon-user"></i> پروفایل من
                            </a>
                        </li>
                        <li>
                            <a href="/UserPanel/DashboardChangePassword">
                                <i class="icon-key"></i> تغییر کلمه عبور
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="icon-lock"></i> قفل کردن پنل
                            </a>
                        </li>
                        <li class="divider"> </li>
                        <li>
                            <a asp-controller="Account" asp-action="logout">
                                <i class="icon-power"></i> خروج از سیستم
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->

            </ul>
        </div>
        <!-- END TOP NAVIGATION MENU -->
    </div>
    <!-- END PAGE TOP -->
</div>