<div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="block">خطا در دریافت اطلاعات...</h4>
    <p>کاربرگرامی : هیچ داده ای از <strong>سمت سرور</strong> دریافت نشد.</p>
</div>